# Pandas との連携

Pandas は調べると低品質な記事が沢山ヒットするので、英語の公式ドキュメントを読むことをお勧めします。

cf. [Pandas Documentation](https://pandas.pydata.org/docs/index.html)

In [1]:
import json
from pathlib import Path

import pandas as pd

In [2]:
json_path = Path.cwd().parent.joinpath("data").joinpath("sample.json")

# data/sample.json を読み込む。
# create_json.py で生成したファイルを開く。
# Windows では、UTF-8 の BOM が付与されている可能性があるため、encoding="utf_8_sig" を指定する。
with json_path.open("r", encoding="utf_8_sig") as f:
    # 読み込んだファイルを data 変数に格納する。
    data = json.load(f)

# data.users を pandas の DataFrame に変換する。
users = pd.DataFrame(data["users"])
users

             name    birthday
0      lqhkirijwf  1988-11-27
1      apbgjmiagn  1974-11-20
2      xxuiavoybm  2005-09-30
3      oqtsaakclt  1905-08-17
4      jrejrrcnbg  1919-03-26
...           ...         ...
19995  wrmtgwsirj  1930-08-15
19996  ksauwsdzjs  1921-04-23
19997  xfpgnlxoid  1988-12-03
19998  klqwsbsfak  1955-09-06
19999  sjcsxaacoz  1942-05-25

[20000 rows x 2 columns]

In [3]:
# 扱いやすいように、birthday を日付型に変換する。
users["birthday"] = pd.to_datetime(users["birthday"], format="%Y-%m-%d")

In [4]:
# DataFrame では、フィルタリングは簡単にできる。
users[users["birthday"] >= "2000-01-01"]

             name   birthday
2      xxuiavoybm 2005-09-30
8      qtdrmclyvc 2003-01-23
38     idvnauiwot 2002-12-14
49     bdhivhlugg 2009-04-10
58     elgouvuaoq 2009-04-14
...           ...        ...
19957  qvpjrpbdwm 2004-05-12
19962  twljahxetx 2007-08-28
19968  yskzyggdia 2008-04-15
19982  lianioofwr 2001-11-16
19984  vjosfpbncl 2004-12-08

[1726 rows x 2 columns]

In [5]:
# 簡単に json ファイルに書き出すこともできる。
output_path = json_path.parent.joinpath("output_pandas.json")

# 日付を文字列に変換してから書き出す。
selected_users = users[users["birthday"] >= pd.to_datetime("2000-01-01")].reset_index(drop=True)
selected_users["birthday"] = selected_users["birthday"].dt.strftime("%Y-%m-%d").copy()

# to_json() メソッドを使うと、DataFrame を json ファイルに書き出すことができる。
selected_users.to_json(output_path, orient="records", indent=4)